.App {
  text-align: center;
}

.button-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width:405px;
  grid-row-gap:5px;
  grid-column-gap:5px;
}

.game-button{
  height:200px;
  width:200px;
}

#yellow{
  background-color:yellow;

}
#red{
  background-color:red;
}

#green{
  background-color:green;
}

#blue{
  background-color:blue;
}

.light {
  border:5px solid rgb(1, 1, 2);
}